Repository gavinwoolley/AzureTools: changes, and which Azure pipelines are due for each by the changed paths.
All: Azure-Pipelines/azure-pipeline-arm-master.yml, Azure-Pipelines/azure-pipeline-blueprint-master.yml

Azure-Pipelines/azure-pipeline-arm-master.yml:
  name: $(Major).$(Minor).$(Patch)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build ARM Templates
      pool:
        vmImage: windows-latest
      workspace:
        clean: all
      steps:
      - template: Shared/pr-build.yml
      - template: Shared/arm-build.yml
  ...

Azure-Pipelines/azure-pipeline-blueprint-master.yml:
  name: $(Major).$(Minor).$(Patch)
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build Blueprints
      pool:
        vmImage: windows-latest
      workspace:
        clean: all
      steps:
      - template: Shared/pr-build.yml
      - template: Shared/blueprint-build.yml
  ...

Removes SOA and NS Record Type from Private Records
  ARM/private_dns_zones/private_dns_zones.json
  ARM/private_dns_zones/private_dns_zones.param.global.arm.example.json
Due: none

Updated Schema and Changed Case on parameters, was causing DNS record creation to fail
  ARM/private_dns_zones/private_dns_zones.json
  ARM/private_dns_zones/private_dns_zones.param.global.arm.example.json
Due: none

Updated Schema and Changed Case on parameters, was causing DNS record creation to fail
  ARM/private_dns_zones/private_dns_zones.param.global.arm.example.json
Due: none

Adds Network Links to Private DNS Zones
  ARM/private_dns_zones/private_dns_zones.json
  ARM/private_dns_zones/private_dns_zones.param.global.arm.example.json
Due: none

Updated scraper to generate block for vNet links
  ARM/private_dns_zones/private_dns_zones.param.global.arm.example.json
  Tools/Get-AdDnsRecordsAndMigrateToAzurePrivateDns.ps1
  Tools/Get-AdDnsZonesAndCreateParamFile.ps1
Due: none

Adds Azure Public DNS Records as Nested Copy Loop Template
  ARM/dns_zones/deploy.ps1
  ARM/dns_zones/dns_zones.json
  ARM/dns_zones/dns_zones.param.global.arm.example.json
Due: Azure-Pipelines/azure-pipeline-arm-master.yml

Adds Grafana Azure Template running on AppService using Storage and MySql
  ARM/app_services_and_plans/app_services_and_plans.param.global.json
  ARM/app_services_and_plans/app_services_and_plans.param.qa.json
  ARM/dns_zones/deploy.ps1
  ARM/grafana_app_service_mysql_storage/BaltimoreCyberTrustRoot.crt.pem
  ARM/grafana_app_service_mysql_storage/deploy.ps1
  ARM/grafana_app_service_mysql_storage/grafana_app_service_mysql_storage.json
  ARM/grafana_app_service_mysql_storage/grafana_app_service_mysql_storage.param.json
Due: Azure-Pipelines/azure-pipeline-arm-master.yml

Started creation of Grafana Dashboard Generator Tool in Powershell
  .gitignore
  Monitoring/Configuration/appsettings.json
  Monitoring/Invoke-CreateOrUpdateGrafanaDashboards.ps1
  Monitoring/TemplateGenerator/TemplateGenerator.psm1
Due: none

Adds Powershell step for printing out secret variables in Azure DevOps
  Azure-Pipelines/printSecrets.yaml
Due: Azure-Pipelines/azure-pipeline-blueprint-master.yml

adds azure subscription cleaner automation runbook
  Monitoring/TemplateGenerator/testDashboard.json
  Monitoring/TemplateGenerator/testDashboardWebAppOnePanel.json
  Monitoring/TemplateGenerator/testDashboardWebAppOnePanelAndAlert.json
  Tools/AzureSubscriptionCleanerAutomationRunBook.ps1
Due: none

Path conditions:
  Azure-Pipelines/azure-pipeline-arm-master.yml: any of: ARM/app_services_and_plans, ARM/dns_zones, but not: README.md
  Azure-Pipelines/azure-pipeline-blueprint-master.yml: any of: Azure-Pipelines, BluePrintEnv, but not: README.md
